# macOS clutter
.DS_Store
.DS_Store?
._*

# Competitive Programming Helper (.cph)
**/.cph/

# Development / Debug binaries and symbol files
*.dSYM/
**/output/

# Ignore compiled C binaries (files with no extension)
# This rule matches files without dots in their names inside subdirectories
*
!*/
!*.*.DS_Store
.commandcode/
.cph/
.vscode/
CSES/
Codeforces/
Miscellaneous/
algo-sensei/
atcoder/
books/
code/
codechef/
eolymp/
hackerearth/
hackerrank/
kattis/
lightoj/
node_modules/
spoj/
timus/
uva/
vjudge/
